<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <nav class="navbar">
    <ul class="company">
      <li>
        <img class="company-logo" src="assets/image/company_logo.png" alt="Company Icon">
      </li>
    </ul>
    <ul class="home">
      <li routerLink="/"> 
        <img src="assets/svg/home.svg" alt="Home Icon">
      </li>
    </ul>
    <ul class="options">
      <li>Deploy</li>
      <li routerLink="/sessions">Sessions</li>
      <li>Targets</li>
      <li routerLink="/reports">Reports</li>
    </ul>
    <ul class="profile">
      <li>
        <img src="assets/svg/profile.svg" alt="Profile Icon">
      </li>
      <li>
        <img src="assets/svg/notification.svg" alt="Notifications Icon">
      </li>
    </ul>
</nav>
<router-outlet></router-outlet>
</body>
</html>